.html .body{
    height: 100%;
}
.main-fade{
    opacity:0;
}
.hover-a {
	display: inline-block;
	padding: 0.6em 2em;
	margin: 0 0 0;
	
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.hover-a {
	opacity: 0.6;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.slide{
    position: relative;
    
}
.arrow{
   cursor: pointer; 
   position: absolute;
   margin-top: 14%;
   width: 0;
   height: 0;
   border-style:solid;
   /*border-width:75px 0 75px 129 9px;*/
   
}
#arrow-left{
    border-width:20px 20px 20px 0;
    border-color:transparent gray transparent transparent;
    left: 0;
    margin-left:50px;
}
#arrow-right{
    border-width:20px 0 20px 20px;
    border-color:transparent transparent transparent gray;
    right: 0;
    margin-right:50px;
}
.images{
position: relative;
}
.head-text {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: bold;
    margin:0;
    padding:0;
}
.image{
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.image img {
    
	display: block;
	width: 40%;
	height: auto;
}
.image1{
    
    display: none;
}
.image2{
    display: none;
}
.image3{
    display: none;
}
.jumbotron{
    padding:0;
    margin: 0;
}
.fadein{
    opacity: 1;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }
.fadeout{
    opacity: 0;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }

    /* recruit */
.heading{
    position: relative;
	padding-top: 50px;
	font-size: 26px;
	text-align: center;
}
.heading::before {
	content: attr(data-en);
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(66, 224, 119, 0.2);
	font-size: 80px;
	font-style: italic;
}

.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    align-self: center;
    background: rgb(155, 218, 136);
    cursor: pointer;
    width: 50px;
    height:40px;
	border-radius: 5px;
    z-index: 300;
}
.hamburger span{
    display: inline-block;
    transition: all.4s;
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius:5px;
    background: #fff;
    width: 45%;
    
}

.hamburger span:nth-of-type(1){
    top: 13px;
}
.hamburger span:nth-of-type(2){
    top: 19px;
}
.hamburger span:nth-of-type(3){
    top: 25px;
}
.hamburger.active span:nth-of-type(1) {
    top: 12px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.hamburger.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.hamburger.active span:nth-of-type(3){
    top: 24px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
.hamshow{
    display: none;
}
#rnav{
    position: fixed;
    right: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 289;
    margin: 0;
    background-color: rgb(183, 238, 217,0.5);
}

.list-group{
    margin-top:80px;    
}
.list-group-item{
    background: rgb(183, 238, 217,0.5);
}
.show{
    transition: all 0.4s ease-in;
    /*margin-left: 110vw;*/
    transform: translate3d(-300px,0,0);
}
.hid{
    transition: all 0.3s ease-in;
    /*margin-left: 110vw;*/
    transform: translate3d(300px,0,0);
}
