.hover-a {
	display: inline-block;
	padding: 0.6em 2em;
	margin: 0 0 0;
	
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
.hover-a {
	opacity: 0.6;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.slide{
    position: relative;
    
}
.arrow{
   cursor: pointer; 
   position: absolute;
   margin-top: 200px;
   width: 0;
   height: 0;
   border-style:solid;
   /*border-width:75px 0 75px 129 9px;*/
   
}
#arrow-left{
    border-width:20px 20px 20px 0;
    border-color:transparent gray transparent transparent;
    left: 0;
    margin-left:30px;
}
#arrow-right{
    border-width:20px 0 20px 20px;
    border-color:transparent transparent transparent gray;
    right: 0;
    margin-right:30px;
}
.images{
position: relative;
}
.head-text {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-weight: bold;
    margin:0;
    padding:0;
}
.image{
    margin-right: calc(50% - 50vw);
	margin-left: calc(50% - 50vw);
}
.image img {
    
	display: block;
	width: 40%;
	height: auto;
}
.image1{
    
    display: none;
}
.image2{
    display: none;
}
.image3{
    display: none;
}
.jumbotron{
    padding:0;
    margin: 0;
}
.fadein{
    opacity: 1;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }
.fadeout{
    opacity: 0;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }

    /* recruit */
.heading{
    position: relative;
	padding-top: 50px;
	font-size: 26px;
	text-align: center;
}
.heading::before {
	content: attr(data-en);
	position: absolute;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(66, 224, 119, 0.2);
	font-size: 80px;
	font-style: italic;
}

